@model FlashcardsApp.Models.Flashcards

@{
    ViewData["Title"] = "Edit Flashcard";
    var backgroundImagePath = Url.Content("~/images/ggg.jpg");
}<div class="full-screen-image-container">
    <div class="content-above-background">
        <h1 style="text-align:center; margin-top: 10px;">@ViewData["Title"]</h1>

        <form asp-action="EditFlashcard" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Question" class="control-label">Question</label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Answer" class="control-label">Answer</label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    .btn-success {
        margin-top: 20px;
        background-color: #007bff;
        color: white;
        padding: 10px 16px;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
    }

        .btn-success:hover {
            background-color: #0056b3;
        }

    .full-screen-image-container {
        display: flex;
        align-items: center; 
        justify-content: center; 
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('@backgroundImagePath');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .content-above-background {
        background: #fffffb;
        border-radius: 15px;
        width: 600px;
        height: 300px;
        padding: 20px;
        text-align: center; 
    
    .full-screen-image-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
        z-index: 2;
    }
</style>
