@model FlashcardsApp.Models.FlashcardCollection<Flashcards>

@{
    ViewData["Title"] = "View Flashcards";
    var backgroundImagePath = Url.Content("~/images/ggg.jpg");
}<div class="full-screen-image-container">
    <div class="content-above-background">
        <h1 style="text-align:center; margin-top: 10px;">@Model.CollectionName</h1>

<div>
    @if (Model.Flashcards != null && Model.Flashcards.Any())
    {
        foreach (var flashcard in Model.Flashcards)
        {
            <div class="flashcard-container">
                <div class="flashcard-question">
                    <label>Question:</label>
                    <p>@flashcard.Question</p>
                </div>
                <div class="flashcard-answer">
                    <label>Answer:</label>
                    <p>@flashcard.Answer</p>
                </div>
            </div>
        }
    }
    else
    {
        <p>No flashcards in this collection.</p>
    }
</div>
    </div>
</div>

<style>
    .flashcard-container {
        display: inline-block;
        width: 600px;
        height: 300px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #fffffb;
        text-align: center;
        vertical-align: top;
    }

    .flashcard-question, .flashcard-answer {
        padding: 20px;
    }

    .flashcard-question {
        background-color: #f9f9f9;
    }

    .flashcard-answer {
        background-color: #fff;
    }


    .full-screen-image-container {
        position: fixed;
        margin-left: -15%;
        width: 100vw;
        height: 120vh;
        overflow: hidden;
        background-image: url('@backgroundImagePath');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .content-above-background {
        position: relative;
        z-index: 1;
    }


    .full-screen-image-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
        z-index: 2;
    }
</style>
