@page
@using FlashcardsApp.ViewModels
@model ProfileViewModel

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    <h3>My Profile</h3>
                </div>
                <div class="card-body">

                    <div class="text-center mb-3">
                        <img src="/path_to_default_image.jpg" alt="Profile Picture" class="rounded-circle" width="150" height="150">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" disabled>Edit Description</button>
                        <button class="btn btn-secondary" disabled>Upload Photo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
